// COLOURS
$primary-color: #003946;
$hover-color: #33616b;
$focus-color: #5e8188;
$disabled-color: #c8c8c8;
$disabled-text-color: #424242;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

.button {
  // typography
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 16px;
  line-height: calculateRem(26px);
  // structure
  background-color: transparent;
  border: 0px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: calculateRem(7px) calculateRem(19px);

  &--primary {
    background-color: $primary-color;
    color: #fff;

    .arrow-path {
      fill: #fff;
    }

    &:hover {
      background-color: $hover-color;
    }

    &:focus {
      background-color: $focus-color;
    }

    &:disabled {
      background-color: $disabled-color;
      color: $disabled-text-color;

      .arrow-path {
        fill: $disabled-text-color;
      }
    }
  }

  &--secondary {
    border: 1px solid $primary-color;
    color: $primary-color;

    .arrow-path {
      fill: $primary-color;
    }

    &:hover {
      border-color: $hover-color;
      color: $hover-color;

      .arrow-path {
        fill: $hover-color;
      }
    }

    &:focus {
      border-color: $focus-color;
      color: $focus-color;

      .arrow-path {
        fill: $focus-color;
      }
    }

    &:disabled {
      border-color: $disabled-color;
      color: $disabled-text-color;

      .arrow-path {
        fill: $disabled-text-color;
      }
    }
  }
}

.arrow {
  margin-right: calculateRem(12px);
}
