/* BASE STYLES */
.button {
  /* typography */
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  /* structure */
  background-color: transparent;
  border: 0px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 19px;
}

.arrow {
  padding-right: 12px;
}

/* PRIMARY BUTTON */

.button--primary {
  background-color: #003946;
  color: #fff;
}

.button--primary:hover {
  background-color: #33616b;
}

.button--primary:focus {
  background-color: #5e8188;
}

.button--primary:disabled {
  background-color: #c8c8c8;
  color: #424242;
}

.button--primary .arrow-path {
  fill: #fff;
}

.button--primary:disabled .arrow-path {
  fill: #424242;
}

/* SECONDARY BUTTON */

.button--secondary {
  border: 1px solid #003946;
  color: #003946;
}

.button--secondary:hover {
  border-color: #33616b;
  color: #33616b;
}

.button--secondary:focus {
  border-color: #5e8188;
  color: #5e8188;
}

.button--secondary:disabled {
  border-color: #c8c8c8;
  color: #424242;
}

.button--secondary .arrow-path {
  fill: #003946;
}

.button--secondary:hover .arrow-path {
  fill: #33616b;
}

.button--secondary:focus .arrow-path {
  fill: #5e8188;
}

.button--secondary:disabled .arrow-path {
  fill: #424242;
}
