* {
  box-sizing: border-box;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

$input-text-color: #6b6b6b;

.household-card {
  background-color: #fff;
  width: calculateRem(981px);
  height: calculateRem(176px);
  border: 1px solid #003946;
  box-shadow: 0px 5px 10px rgba(53, 97, 107, 0.1);
  border-radius: 10px;
  display: grid;
  // grid-template-rows: 1fr 44px 24px 44px 1fr;
  // grid-template-columns: 64px 249px 249px 283px 1fr;
  grid-template-rows: 1fr 2.75rem 1.5rem 2.75rem 1fr;
  grid-template-columns: 4rem 15.5rem 15.5rem 17.75rem 1fr;
  grid-gap: 0 1rem;

  %card-top-row {
    grid-row: 2 / 3;
  }

  %card-bottom-row {
    grid-row: 4 / 5;
  }

  &__head-box {
    @extend %card-top-row;
    grid-column: 2 / 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: calculateRem(4px);
  }

  &__firstname-box {
    @extend %card-top-row;
    grid-column: 3 / 2;
  }

  &__lastname-box {
    @extend %card-top-row;
    grid-column: 4 / 3;
  }

  &__birthdate-box {
    @extend %card-top-row;
    grid-column: 5 / 4;
  }

  &__pronoun-box {
    @extend %card-bottom-row;
    grid-column: 2 / 3;
  }

  &__pronoun-box {
    @extend %card-bottom-row;
    grid-column: 2 / 3;
  }

  &__relationship-box {
    @extend %card-bottom-row;
    grid-column: 3 / 4;
  }

  &__dependentcheck-box {
    @extend %card-bottom-row;
    grid-column: 4 / 5;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__close-box {
    grid-row: 3 / 4;
    grid-column: 5 / 6;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .household-head {
    height: calculateRem(30px);
    width: calculateRem(28px);
  }

  .household-close {
    height: calculateRem(12px);
    width: calculateRem(12px);
  }
}

form {
  %standard-input,
  input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 4px 30px 10px rgba(57, 53, 107, 0.05);
    border-radius: 10px;

    font-style: italic;
    font-weight: 800;
    font-size: calculateRem(18px);
    line-height: calculateRem(28px);
  }

  // text color for placholder
  & ::placeholder {
    color: $input-text-color;
    opacity: 1;
  }
  & :-ms-input-placeholder,
  ::-ms-input-placeholder {
    color: $input-text-color;
  }

  select {
    @extend %standard-input;

    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-image: url("../assets/household/dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: 50%;
    color: $input-text-color;
  }

  input[type="date"] {
    @extend %standard-input;

    // setting text colour
    &::-webkit-datetime-edit {
      color: $input-text-color;
    }

    // removing default calendar icon
    &::-webkit-calendar-picker-indicator {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
    }
  }

  #date-input {
    background-image: url("../assets/household/calendar.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: 50%;
  }

  .checkbox-label {
    font-weight: 700;
    color: #424242;
  }

  input[type="checkbox"] {
    display: none;

    + span {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -1px;
      width: calculateRem(18px);
      height: calculateRem(18px);
      margin: -1px 4px 0 14px;
      vertical-align: middle;
      border: 2px solid #003946;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    &:checked + span::before {
      content: "✓";
      color: #003946;
    }
  }
}

/* hidden for UI, used by screen readers */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
